<!-- Team Selector -->
<TeamSelector/>

<!-- Team Sidebar -->
<TeamSidebar/>

<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">

  <!-- Channel Header -->
  <ChannelHeader @title="Cool Talk Channel" @description="a channel for talkie talkie"/>
  {{format-timestamp "09-13-2022"}}

  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">
    <Message/>
  </div>

  <!-- Channel Footer -->
  <ChannelFooter/>
</main>

{{outlet}}